<link rel="stylesheet" href="app/assets/css/connection.css">
<form action="?controller=user&action=login" method="POST" class="form-signin">
    <h2 class="form-signin-heading">Authentification</h2>
    <input type="text" name="username" id="username" class="form-control" placeholder="Nom d'utilisateur" required autofocus>
    <input type="password" name="password" id="password" class="form-control" placeholder="Mot de passe" required>
    <input type="submit" class="btn btn-lg btn-primary btn-block" value="Se connecter" />
</form>


