
<link rel="stylesheet" href="app/assets/css/connection.css">
<form action="?controller=user&action=subscribe" method="POST" class="form-signin">
    <h2 class="form-signin-heading">Inscription</h2>
    <input type="text" name="username" id="username" class="form-control" placeholder="Nom d'utilisateur" required autofocus>
    <input type="email" name="mail" id="mail" class="form-control" placeholder="mail@mail.fr" required>
    <input type="password" name="password" id="password" class="form-control" placeholder="Mot de passe" required>

    <input type="submit" class="btn btn-lg btn-primary btn-block" value="S'inscrire">
</form>
