<meta charset="UTF8">
<style>
    .table{
        border-color:red;
    }
   #fusion{
        text-align: center;
       font-size: 20px;
       color: purple;
    }
    th{
        font-size:15px;
    }
    td{
        font-family: "Times New Roman";
    }
</style>
<table class="table">
    <thead>
    <tr>
        <th id="fusion"colspan="2">Nos articles</th>
    </tr>
    <tr>
        <th>Articles</th>
        <th>Date de parution</th>
    </tr>
    </thead>
    <tbody>

<?php foreach ($article as $v): ?>
    <tr>
        <td><?php echo $v->nom_article?></td>
        <td><?php echo $v->date_parution?></td>
    </tr>
<?php endforeach?>

    </tbody>
</table>